# Ignore .terraform directory
.terraform/

# Ignore any files ending in .tfstate or .tfstate.backup
*.tfstate
*.tfstate.backup

# Ignore any files ending in .terraformrc
*.terraformrc

# Ignore override files as they're usually used to override resources locally and don't need to be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore any variable files that should not be shared
*.auto.tfvars
*.auto.tfvars.json
*.tfvars
*.tfvars.json

# Ignore any log files
*.log
*.log.*

# Ignore any crash.log files
crash.log

# Ignore .DS_Store files on Mac OS
.DS_Store

# Ignore .tfplan files, which are output by 'terraform plan'
*.tfplan

# Ignore the .terraform.lock.hcl file, which is used by the 'terraform init' command
.terraform.lock.hcl

# Ignore any files in a .terraform subdirectory
**/.terraform/*

# Ignore any sensitive files that should not be shared
sensitive.file
